body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
}

.card {
  width: 300px;
  background-color: #333;
  border-radius: 15px;
  padding: 20px;
  margin: 30px 10px 10px 7px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;

}

.parent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.card h1 {
  font-size: 25px;
  margin: 20px 0 10px;
  color: #d13d7d;
}

.card p {
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
}

.card button {
  background-color: #f3a6c8;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.card button:hover {
  background-color: #e57baa;
  transform: scale(1.05);
}
.parent2{
  font-size:30px;
  color:#d13d7d;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 8px;
}